{% set area = 'location' %}
{% extends "layout.html" %}
{% import 'forms.html' as forms %}

{% block title %}
{% trans %}DevFest Vienna - the locations{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
<div class="row-fluid">
<div class="span9">
<img class="visible-phone" src="/img/banner2-small.png"><br>
<h2>{% trans %}The Locations{% endtrans %}</h2>
<p>
{% trans %}
DevFest Vienna takes place in two different different locations,
each of them with its unique advantage and atmosphere.
{% endtrans %}
</p>
<p>
{% trans %}
We start on day 0 with workshops on the <a href="#tu-wien-0">University of Technology</a>,
FH HS3 and FH HS4.
{% endtrans %}
{% trans %}
On day 1, the <a href="#tu-wien">University of Technology</a>
is again host for sessions around mobile &amp; web,
cloud &amp; social, this time in EI9 and EI10.
{% endtrans %}
</p>
<p>
{% trans %}
And on day 10, it is the <a href="#sektor5">Sektor5</a> where we are having
an open hackathon.
{% endtrans %}
</p>
</div>
<div class="span3">
<img class="hidden-phone" src="/img/banner2-small.png"><br>
</div>
</div>
</div>
<a name="tu-wien-0">&nbsp;</a>
<br>
<br>
<br>
<div class="container">
<div class="row-fluid">
<div class="span9">
<h3>{% trans %}TU Vienna - FH HS1 and FH HS2{% endtrans %}</h3>
<p>
{% trans %}
We start with workshops on Friday afternoon at the University of Technology,
{% endtrans %}
<a href="https://www.google.com/maps?t=m&amp;q=Wiedner+Hauptstra%C3%9Fe+8-10,+Vienna,+Austria&amp;ie=UTF8&amp;hq=&amp;hnear=Wiedner+Hauptstra%C3%9Fe+8-10,+Wieden+1040+Wien,+Austria&amp;ll=48.198706,16.367569&amp;spn=0.01373,0.02738&amp;z=14&amp;iwloc=A&amp;source=embed&amp;{% trans %}hl=en{% endtrans %}" target="_blank">{% trans %}Wiedner Hauptstra&szlig;e 8-10{% endtrans %}.</a>
<br>
</p>
<p>
<center>
<a href="#hs1-lightbox" data-toggle="lightbox"
><img src="/img/image-hs1-small.jpeg" /></a>
<a href="#hs2-lightbox" data-toggle="lightbox"
><img src="/img/image-hs2-small.jpeg" /></a>
</center>
</p>
<p>
<center>
<a href="#fh-lightbox" data-toggle="lightbox"
><img src="/img/image-fh-building-small.jpg" /></a>
<a href="#hs1-hs2-lightbox" data-toggle="lightbox"
><img src="/img/image-hs1-hs2-small.jpg" /></a>
</center>
</p>
<div class="lightbox fade" id="hs1-lightbox" style="display:none;">
  <div class="lightbox-content">
    <img src="/img/image-hs1.jpeg" />
  </div>
</div>
<div class="lightbox fade" id="hs2-lightbox" style="display:none;">
  <div class="lightbox-content">
    <img src="/img/image-hs2.jpeg" />
  </div>
</div>
<div class="lightbox fade" id="fh-lightbox" style="display:none;">
  <div class="lightbox-content">
    <img src="/img/image-fh-building.jpg" />
  </div>
</div>
<div class="lightbox fade" id="hs1-hs2-lightbox" style="display:none;">
  <div class="lightbox-content">
    <img src="/img/image-hs1-hs2.jpg" />
  </div>
</div>
</div>
<div class="span3">
<a target="_blank" href="https://www.google.com/maps?t=m&amp;q=Wiedner+Hauptstra%C3%9Fe+8-10,+Vienna,+Austria&amp;ie=UTF8&amp;hq=&amp;hnear=Wiedner+Hauptstra%C3%9Fe+8-10,+Wieden+1040+Wien,+Austria&amp;ll=48.198706,16.367569&amp;spn=0.01373,0.02738&amp;z=14&amp;iwloc=A&amp;source=embed&amp;{% trans %}hl=en{% endtrans %}">{% trans %}TU Vienna (18 October 2013){% endtrans %}</a>
<br>
  <iframe width="240" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?{% trans %}hl=en{% endtrans %}&amp;t=m&amp;q=Wiedner+Hauptstra%C3%9Fe+8-10,+Vienna,+Austria&amp;ie=UTF8&amp;hq=&amp;hnear=Wiedner+Hauptstra%C3%9Fe+8-10,+Wieden+1040+Wien,+Austria&amp;ll=48.198706,16.367569&amp;spn=0.01373,0.02738&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
</div>
</div>
</div>
<a name="tu-wien">&nbsp;</a>
<br>
<br>
<br>
<div class="container">
<div class="row-fluid">
<div class="span9">
<h3>{% trans %}TU Vienna{% endtrans %}</h3>
<p>
{% trans %}
Day #1 takes place on the University of Technology in Vienna
at
{% endtrans %}
<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;{% trans %}hl=en{% endtrans %}&amp;geocode=&amp;q=Gu%C3%9Fhausstra%C3%9Fe+27-29,+Wieden+1040+Wien,+Austria&amp;aq=&amp;sll=48.197351,16.371794&amp;sspn=0.008467,0.016329&amp;ie=UTF8&amp;hq=&amp;hnear=Gu%C3%9Fhausstra%C3%9Fe+27,+Wieden+1040+Wien,+Austria&amp;t=m&amp;ll=48.197333,16.371775&amp;spn=0.027462,0.054932&amp;z=14&amp;iwloc=A" target="_blank">{% trans %}Gußhausstraße 27-29, 1040 Vienna{% endtrans %}.</a>
<br>
</p>
<p>
<center>
<a href="#ei9-lightbox" data-toggle="lightbox"
><img src="/img/image-ei9-small.jpeg" /></a>
<a href="#ei10-lightbox" data-toggle="lightbox"
><img src="/img/image-ei10-small.jpeg" /></a>
</center>
</p>
<p>
<center>
<a href="#ei-lightbox" data-toggle="lightbox"
><img src="/img/image-ei-building-small.jpg" /></a>
<a href="#ei9-ei10-lightbox" data-toggle="lightbox"
><img src="/img/image-ei9_ei10-small.jpg" /></a>
</center>
</p>
<div class="lightbox fade" id="ei9-lightbox" style="display:none;">
  <div class="lightbox-content">
    <img src="/img/image-ei9.jpeg" />
  </div>
</div>
<div class="lightbox fade" id="ei10-lightbox" style="display:none;">
  <div class="lightbox-content">
    <img src="/img/image-ei10.jpeg" />
  </div>
</div>
<div class="lightbox fade" id="ei-lightbox" style="display:none;">
  <div class="lightbox-content">
    <img src="/img/image-ei-building.jpg" />
  </div>
</div>
<div class="lightbox fade" id="ei9-ei10-lightbox" style="display:none;">
  <div class="lightbox-content">
    <img src="/img/image-ei9_ei10.jpg" />
  </div>
</div>
</div>
<div class="span3">
<a target="_blank" href="https://maps.google.com/maps?f=q&amp;source=embed&amp;{% trans %}hl=en{% endtrans %}&amp;geocode=&amp;q=Gu%C3%9Fhausstra%C3%9Fe+27-29,+Wieden+1040+Wien,+Austria&amp;aq=&amp;sll=48.197351,16.371794&amp;sspn=0.008467,0.016329&amp;ie=UTF8&amp;hq=&amp;hnear=Gu%C3%9Fhausstra%C3%9Fe+27,+Wieden+1040+Wien,+Austria&amp;t=m&amp;ll=48.197333,16.371775&amp;spn=0.027462,0.054932&amp;z=14&amp;iwloc=A">{% trans %}TU Vienna (19 October 2013){% endtrans %}</a>
<br>
<iframe width="240" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?{% trans %}hl=en{% endtrans %}&amp;q=Gu%C3%9Fhausstra%C3%9Fe+27-29,+Wieden+1040+Wien,+Austria&amp;sll=48.197351,16.371794&amp;sspn=0.008467,0.016329&amp;ie=UTF8&amp;hnear=Gu%C3%9Fhausstra%C3%9Fe+27,+Wieden+1040+Wien,+Austria&amp;ll=48.197333,16.371775&amp;spn=0.027462,0.054932&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>
</div>
</div>
</div>
<a name="sektor5">&nbsp;</a>
<br>
<br>
<br>
<div class="container">
<div class="row-fluid">
<div class="span9">
<h3>{% trans %}Sektor5{% endtrans %}</h3>
<p>
{% trans %}
DevFest Vienna closes with an open hackathon at
{% endtrans %}
<a href="https://www.google.com/maps?t=m&amp;q=sektor5,+vienna&amp;ie=UTF8&amp;hq=sektor5,&amp;hnear=Vienna,+Austria&amp;ll=48.186118,16.355038&amp;spn=0.02289,0.041027&amp;z=13&amp;iwloc=A&amp;output=embed&{% trans %}hl=en{% endtrans %}" target="_blank">{% trans %}Sektor5{% endtrans %}.</a>
<br>
</p>
<p>
<center>
<a href="#hackathon-lightbox" data-toggle="lightbox"
><img src="/img/image-sektor5-hackathon-small.jpeg" /></a>
<a href="#hackathon2-lightbox" data-toggle="lightbox"
><img src="/img/image-sektor5-hackathon2-small.jpeg" /></a>
</center>
</p>
<div class="lightbox fade" id="hackathon-lightbox" style="display:none;">
  <div class="lightbox-content">
    <img src="/img/image-sektor5-hackathon.jpeg" />
  </div>
</div>
<div class="lightbox fade" id="hackathon2-lightbox" style="display:none;">
  <div class="lightbox-content">
    <img src="/img/image-sektor5-hackathon2.jpeg" />
  </div>
</div>
</div>
<div class="span3">
<a href="https://www.google.com/maps?q=sektor5,+vienna&t=m&hq=sektor5,&hnear=Vienna,+Austria&z=13&iwloc=A&{% trans %}hl=en{% endtrans %}" target="_blank">{% trans %}Sektor5 (20 October 2013){% endtrans %}.</a>
<br>
<iframe width="240" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?q=sektor5,+vienna&t=m&hq=sektor5,&hnear=Vienna,+Austria&z=13&iwloc=A&output=embed&{% trans %}hl=en{% endtrans %}"></iframe>
</div>
</div>
</div>
{% endblock %}
