{% set area = 'agenda' %}
{% extends "layout.html" %}
{% import 'forms.html' as forms %}

{% block title %}
DevFest Vienna - {{ session.title|e }}
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=267479033283422";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container">
<div class="row-fluid">
<div class="span9">
<p>
<a href="/"><img class="visible-phone" src="/img/banner2-{{event}}-small.png"></a><br>
<h3><em>{% if session.type == 'workshop' %}{% trans %}Hands-on workshop{% endtrans %}{% else %}{% trans %}Talk / Presentation{% endtrans %}{% endif %}</em>
<div style="float:right;">
<div class="g-plusone" data-annotation="none" data-size="medium"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="{% trans %}en{% endtrans %}" data-size="medium" data-related="DevFestVienna" data-count="none" data-hashtags="jsug,gdg,devfest,vienna" data-dnt="true">{% trans %}Tweet{% endtrans %}</a>
<fb:like send="false" style="top:-4px;" layout="button_count" width="90" show_faces="false"></fb:like>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</h3>
<h2>{{ session.title|e }}</h2>
{% if session.image %}
<img src="/image/{{ session.key.urlsafe() }}" class="rightimage">
{% endif %}
<p>{{ session.abstract }}</p>
<div style="clear:both;"></div>
</div>
<div class="span3">
<a href="/"><img class="hidden-phone" src="/img/banner2-{{event}}-small.png"></a><br>
<br>
<!-- <iframe  src="http://www.eventbrite.com/countdown-widget?eid=4444668122" frameborder="0" height="459" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe> -->
{%include "sponsorlist.html"%}
</div>
</div>
<div>
{% if session.video %}
<div style="float:left;">
<iframe width="400" height="225" src="http://www.youtube.com/embed/{{ session.video }}?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}
{% if session.slides %}
<style type="text/css">
#iframe {
    -moz-transform: scale(0.293, 0.293) translate(-120%, -120%);
    -webkit-transform: scale(0.293, 0.293) translate(-120%, -120%);
    -o-transform: scale(0.293, 0.293) translate(-120%, -120%);
    transform: scale(0.293, 0.293) translate(-120%, -120%);
}
#wrapper {
    width: 300px;
    height: 225px;
}
</style>
<div style="float:left;">
<div id="wrapper">
<iframe id="iframe" src="{{ session.slides }}" width="1024" height="768">
</iframe>
</div>
</div>
{% endif %}
<div style="clear:both;"></div>
</div>
{% if session.link|length > 0 %}
<h3>{% trans %}Documents, Links, Slides{% endtrans %}</h3>
{% for link in session.link %}
<h4><a href="{{ link.link }}" target="_blank">{{ link.text }}</a></h4>
{% endfor %}
{% endif %}
{% if speakers|length > 1 %}
<h3>{% trans %}Speakers{% endtrans %}</h3>
{% elif speakers|length > 0 %}
<h3>{% trans %}Speaker{% endtrans %}</h3>
{% endif %}
{% for sp in speakers %}
{% if sp.image %}
<img src="/image/{{ sp.key.urlsafe() }}" class="leftimage" style="width:128px; height:128px;">
{% endif %}
<h4>{% if sp.link %}<a href="{{ sp.link }}" target="_blank">{% endif %}{{ sp.name }}{% if sp.link %}</a>{% endif %}</h4>
{% if sp.company_link %}<a href="{{ sp.company_link }}" target="_blank">{% endif %}{% if sp.company %}<em>{{ sp.company }}</em><br>{% endif %}{% if sp.company_link %}</a>{% endif %}
<br>
<p>{{ sp.bio }}</p>
<div style="clear:both;"></div>
{% endfor %}
<br>
<p>
</div>
<script type="text/javascript">
  window.___gcfg = {lang: '{% trans %}en{% endtrans %}'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{% endblock %}
