{% set area = 'sponsor' %}
{% extends "layout.html" %}
{% import 'forms.html' as forms %}

{% block title %}
{% trans %}DevFest Vienna - Sponsorship{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
<div class="row-fluid">
<div class="span9">
<img class="visible-phone" src="/img/banner2-small.png"><br>
<h2>{% trans %}Sponsorship{% endtrans %}</h2>
<p>
<em>
{% trans %}
Interested in being part of the event as a sponsor?
Excellent!
{% endtrans %}
<a href="https://docs.google.com/a/devfest.at/spreadsheet/viewform?pli=1&formkey=dHFDcmdUTnk4bHJvb2dHVmZSZ0Z0ZVE6MA#gid=0" target="_blank">{% trans %}Let us know about it!{% endtrans %}</a>
</em>
</p>
<h3>{% trans %}Silver{% endtrans %}</h3>
<p>
{% trans %}
As a silver sponsor, your logo is present on the local web site
as well as in social media mentions (Google+ and Twitter).
{% endtrans %}
</p>
<p>
{% trans %}
You can provide stickers and / or flyers for the participants.
{% endtrans %}
</p>
<h3>{% trans %}Gold{% endtrans %}</h3>
<p>
{% trans %}
As gold sponsor, you get the same coverage as a silver sponsor,
so your logo is present on the local web site as well as in
social media mentions (Google+ and Twitter).<br>
In addition, you will get mentioned on the web sites of the
host organizations (<a href="http://jsug.at" target="_blank">JSUG</a>
and <a href="http://gdg-vienna.at" target="_blank">GDG Vienna</a>).
{% endtrans %}
</p>
<p>
{% trans %}
In addition to providing stickers and flyers to participants, you can
attend the event with your own table, mount a poster at the location
and present your products or company in a short pitch.
One attendee from your company is allowed to represent you on-site.
{% endtrans %}
</p>
<p>
{% trans %}
Especially if your products are APIs and can be used within the
birthday hackathon, you will like that you can define a special
winner category on the hackathon as a gold sponsor.
{% endtrans %}
</p>
<h3>{% trans %}Platinum{% endtrans %}</h3>
<p>
{% trans %}
As platinum sponsor, you get the most comprehensive presence online and
at the event.
Your logo (bigger size) is present on the local web site, you are
getting mentions in social media interactions (Google+ and Twitter),
you are mentioned on the web sites of the host organizations
(<a href="http://jsug.at" target="_blank">JSUG</a>
and <a href="http://gdg-vienna.at" target="_blank">GDG Vienna</a>),
and your logo will be present on their websites for a full year.
{% endtrans %}
</p>
<p>
{% trans %}
Just the same, your presence at the location is at platinum level as well.
Stickers, flyers, poster and a table are part of the package, and you
can present your products or company in a full-time pitch.
Two attendees from your company are allowed to represent you on-site.
{% endtrans %}
</p>
<p>
{% trans %}
And for the hackathon you are allowed to define two special winner
categories as a platinum sponsor.
{% endtrans %}
</p>
</div>
<div class="span3" style="text-align:center;">
<img class="hidden-phone" src="/img/banner2-small.png"><br>
<a class="btn btn-info" target="_blank"
href="https://docs.google.com/spreadsheet/viewform?pli=1&formkey=dHFDcmdUTnk4bHJvb2dHVmZSZ0Z0ZVE6MA">{% trans %}Sponsorship feedback form{% endtrans %}</a><br>
<a href="/img/devfest-sponsorship.pdf" target="_blank">{% trans %}Sponsorship information package{% endtrans %}</a>
<br>
<iframe  src="http://www.eventbrite.com/countdown-widget?eid=4444668122" frameborder="0" height="459" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
<p><em>{% trans %}Sponsored by{% endtrans %}</em><br>
<a href="http://www.cenarion.com" target="_blank"><img src="/img/cenarion-logo.png" style="border:0;"></a><br>
</p>
<p><em>{% trans %}DevFest Vienna is part of{% endtrans %}</em><br>
<a href="http://www.devfest.info" target="_blank"><img src="/img/gdg-devfest-medium.png" style="border:0;"></a>
</p>
<p><em>{% trans %}Organized by{% endtrans %}</em><br>
<a href="http://jsug.at" target="_blank"><img src="/img/jsug-logo.png" style="border:0;"></a><br>
<a href="http://gdg-vienna.at" target="_blank"><img src="/img/gdg-vienna.png" style="border:0;"></a><br>
</p>
</div>
</div>
</div>
{% endblock %}
