<p><em>{% trans %}Sponsored by{% endtrans %}</em><br>
<a href="http://www.cenarion.com" target="_blank"><img src="/img/cenarion-logo.png" style="border:0;"></a><br>
<a href="http://www.willhaben.at" target="_blank"><img src="/img/willhaben-logo.png" style="border:0;"></a><br>
<a href="http://indoo.rs" target="_blank"><img src="/img/indoors-logo.png" style="border:0;"></a><br>
<a href="http://www.tailored-apps.com/" target="_blank"><img src="/img/tailored_apps-logo.png" style="border:0;"></a>
<a href="http://www.oreilly.de" target="_blank"><img src="/img/oreilly_logo_4c.png" style="border:0;"></a><br>
</p>
<p><em>{% trans %}DevFest Vienna is part of{% endtrans %}</em><br>
<a href="https://developers.google.com/events/devfest/" target="_blank"><img src="/img/gdg-devfest-2013.png" style="border:0;"></a>
</p>
<p><em>{% trans %}Organized by{% endtrans %}</em><br>
<a href="http://jsug.at" target="_blank"><img src="/img/jsug-logo.png" style="border:0;"></a><br>
<a href="http://gdg-vienna.at" target="_blank"><img src="/img/gdg-vienna.png" style="border:0;"></a><br>
<a href="http://meetup.com/AndroidHeads" target="_blank"><img src="/img/androidheads-logo.png" style="border:0;"></a><br>
</p>
